<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{{ item.name }}</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
    <h1>{{ item.name }}</h1>
    <p>{{ item.description }}</p>
    <p>USD: {{ item.price_usd }}</p>
    <p>EUR: {{ item.price_eur }}</p>
    <button type="button" id="checkout-button_usd">Купить в долларах</button>
    <button type="button" id="checkout-button_eur">Купить в евро</button>
</body>
<script type="text/javascript">
    var stripe = Stripe("{{ stripe_key }}");
    var checkoutButton_usd = document.getElementById("checkout-button_usd");
    var checkoutButton_eur = document.getElementById("checkout-button_eur");
    checkoutButton_usd.addEventListener("click", function () {
      fetch("{% url 'buy_item' item.id 'usd' %}", {
        method: "GET",
      })
        .then(function (response) {
          return response.json();
        })
        .then(function (session) {
          return stripe.redirectToCheckout({ sessionId: session.id });
        })
        .then(function (result) {
          if (result.error) {
            alert(result.error.message);
          }
        })
        .catch(function (error) {
          console.error("Error:", error);
        });
    });
    checkoutButton_eur.addEventListener("click", function () {
      fetch("{% url 'buy_item' item.id 'eur' %}", {
        method: "GET",
      })
        .then(function (response) {
          return response.json();
        })
        .then(function (session) {
          return stripe.redirectToCheckout({ sessionId: session.id });
        })
        .then(function (result) {
          if (result.error) {
            alert(result.error.message);
          }
        })
        .catch(function (error) {
          console.error("Error:", error);
        });
    });
</script>
</html>
